@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poor+Story&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center;
}
body{
  font-family: 'Oswald', 'Roboto',sans-serif;
  line-height: 1.5;

}
html {
  width: 100%;
  height: 100%;
  background:none ;
  font-family: "Varela Round", sans-serif;
}
.menu {
  float: right;
display: flex;
justify-content: center;
align-items: center;
max-width: 720px;
margin: 0 auto;
height: 25px;
list-style: none;
}

.menu li {
width: 125px;
height: 50px;
transition: background-position-x 0.9s linear;
text-align: center;
text-align: center;

a {
  font-size: 25px;
  font-weight: bolder;
  color:black;
  text-decoration: none;
  transition: all 0.45s;
}

&:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  animation: line 1s;
}

&:hover a {
  color: #d94f5c;
}

&:not(:last-child) {
  margin-right: 30px;
}
}

@keyframes line {
0% {
  background-position-x: 390px;
}

}
.contact-bg{
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)),url(phone.png);
  background-position: 50% 100%;
  background-repeat:no-repeat ;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: center;
  flex-direction:column ;
  justify-content: center;
  align-items: center;

}
.contact-bg h3{
  display: center;
  font-size:1.3rem ;
  font-weight: bold;

}
.contact-bg h2{
  font-size: 10px;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
  display: center;
}
.line div{
  margin: 0 0.2rem;
  display: inline-block;
  
}
.line div:nth-child(1),
.line div:nth-child(3){
  height: 3px;
  width: 70px;
  background: maroon;
  border-radius: 5px;
  
}
.line{
  display:inline-block;
  align-items: center;
  
}
.line div:nth-child(2){
  width: 10px;
  height: 10px;
  background:maroon ;
  border-radius: 50%;
  align-items: center;

}
.text{
  padding-top: 10px;
  font-weight: 500;
  opacity: 0.9;
}
.contact-bg.text{
  margin: 1.6rem 0;
}
.contact-body{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;

}
.contact-info{
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;

}
.contact-info span{
  display: block;
}
.contact-info div{
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas{
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: maroon;

}
.contact-info div span:nth-child(2){
  font-weight:600;
  font-size: 1.1rem;
}
.contact-info .text{
  padding-top: 0.4rem;
}
.contact-form{
  padding: 2rem 0;
  border-top: 1px solid royalblue;

}
.contact-form form{
  padding-bottom: 1rem;
}
.form-control{
  width: 100%;
  border: 1.5px solid skyblue;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  outline: 0;

}
.form-control:focus{
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn{
  font-family: 'Roboto',sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: maroon;
  border:none ;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover{
  opacity: 0.8;
}
.contact-form >div img{
  width: 85%;

}
.contact-form >div{
  margin: 0 auto;
  text-align: center;
}
.contact-footer{
  padding: 2rem 0;
  background: maroon;
}
.contact-footer h3{
 font-size: 1.3rem;
 color: #fff;
 margin-bottom: 1rem;
 text-align: center;
}
.social-links{
  display: flex;
  justify-content: center;
}
.social-links a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius:50% ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;

}
.social-links a:hover{
  color: yellow;
  border-color: blue;
}
@media screen and (min-width:768px){
  .contact-bg .text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
  }

}
@media screen and (min-width:992px){
  .contact-bg.text{
    width: 50%;
  }
  .contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media screen and(min-width:1200px){
  .contact-info{
    grid-template-columns: repeat(4, 1fr);
  }
}